/* Top Div */

.top {
  height: 10vh;
}


/* Content Section */

.mainTitle {
  text-align: center;
  margin: 0 0 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.mainSubtitle {
  text-align: center;
  margin: 0 0 3rem;
  color: #CCCCCC;
  font-size: 1rem;
}

.content {
  width: 75%;
  display: inline-block;
  margin: 0 1.5% 0 1%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.notice {
  flex-basis: 40%;
  margin: 0.5rem 5% 1rem 5%;
  padding: 0 0 0.5rem 0;
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.notice img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.notice h2, .notice p, .notice a {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.notice h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.notice p {
  text-transform: lowercase;
}

.notice p::first-letter {
  text-transform: uppercase;
}

a {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #1e90ff;
}

a:hover {
  text-decoration: underline;
  color: #15589c;
  cursor: pointer;
}

.flexContentBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}


/* sideMenu Section */

.sideMenu {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5% 0 1%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.sideMenu ul li {
  padding: 0.5rem 0;
}

.sideMenu ul li:first-child {
  font-weight: bold;
}

.sideMenu ul li:not(:first-child) {
  color: #9b9b9b;
}

.sideMenu ul li:not(:first-child) {
  border-bottom: 1px solid #CCCCCC;
}


/* SearchBox */

.searchBox {
  margin: 3rem auto 0;
}

.searchBox input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 0.1rem;
}

.searchBox p {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 auto 0.1rem;
}

.searchBox .searchText {
  text-align: center;
}

.searchBox button {
  margin: 0.5rem auto 0;
}
