<main>

  <h1>Exibindo resultados de busca por "Covid 19"</h1>
  <p>Foram encontrados os seguintes resultados</p>

  <section class="content">

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 1</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 2</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 3</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 4</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 5</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

    <div class="notice">
      <img src="#" alt="Capa da notícia">
      <h2>Título Notícia 6</h2>
      <p>Descrição notícia</p>
      <a href="#">Leia Mais</a>
    </div>

  </section>

  <section class="sideMenu">
    <ul>
      <li>Categorias</li>
      <li>Um</li>
      <li>Dois</li>
      <li>Três</li>
      <li>Quatro</li>
    </ul>
  </section>

</main>
