<main>

  <h1>Exibindo resultados de busca por "Covid 19"</h1>
  <p>Foram encontrados os seguintes resultados</p>

  <ul class="content">

    <div class="flex">

      <li class="notice" *ngFor="let notice of notices">
        <img src="../assets/images/noticeBanner.svg" alt="Capa da notícia">
        <h2>{{ notice.id }} - {{ notice.title }}</h2>
        <p>{{ notice.body }}</p>
        <a href="#">Leia Mais</a>
      </li>

    </div>

  </ul>

  <section class="sideMenu">

    <ul>
      <li>Categorias</li>
      <li>Categoria Um</li>
      <li>Categoria Dois</li>
      <li>Categoria Três</li>
      <li>Categoria Quatro</li>
    </ul>

  </section>

</main>
